.craig-code .navigation
{
    z-index: 1;
    position: fixed;
    width: 20%;
    top: 75px;
    left: 0px;
    bottom: 25px;

    box-shadow: 0 0 20px #000000;
    
    overflow-y: auto;
}

.craig-code .navigation .pages
{
    margin: 10px;
}

.craig-code .navigation .pages .menu-group
{
    display: none;
}

.craig-code .navigation .pages .topic
{
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

@-webkit-keyframes menuhover
{
    from 
    { 
        box-shadow: 0 0 0 #000000; 
        font-size: 100%;
        background-color: #FFFFFF;
    }

    to 
    { 
        box-shadow: 0px 10px 20px #777777;
        font-size: 110%;
        background-color: #EEEEEE;
    }
}

@keyframes menuhover
{
    from 
    { 
        box-shadow: 0 0 0 #000000; 
        font-size: 100%;
        background-color: #FFFFFF;
    }

    to 
    { 
        box-shadow: 0px 10px 20px #777777;
        font-size: 110%;
        background-color: #EEEEEE;
    }
}

.craig-code .navigation .pages .topic:hover
{
    z-index: 4;
    
    -webkit-animation: menuhover 0.1s steps(100) forwards;
    animation: menuhover 0.1s steps(100) forwards;
}

.craig-code .navigation .pages .topic .text
{
    margin: 20px;
}

.craig-code .navigation .pages .sub-topic
{
    margin: 0 0 0 10px
}

.craig-code .navigation .pages .sub-sub-topic
{
    margin: 0 0 0 20px
}

.craig-code .navigation .pages .sub-sub-sub-topic
{
    margin: 0 0 0 30px
}
